.container {
  //   display: grid;
  width: 82.9333%;
  max-width: 635px;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 14.88%);
}

header,
.subscription,
.why-us {
  padding: 2.5rem;
  @media (max-width: 375px) {
    padding: 1.5rem;
  }
}

header {
  grid-column: 1/-1;
}
